<!DOCTYPE doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="../css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="../css/gridstack.css">
        <link rel="stylesheet" type="text/css" href="../css/gridstack-extra.css">

    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <!--script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script-->
        <script type="text/javascript" src="../js/common/jquery.min.js"></script>
	    <script type="text/javascript" src="../js/common/popper.min.js"></script>
	    <script type="text/javascript" src="../js/common/bootstrap.min.js"></script>

        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
        <script type="text/javascript" src="../js/common/jquery-ui.js"></script>
        <script type="text/javascript" src="../js/common/lodash.min.js"></script>
        
        <script type="text/javascript" src="../js/common/gridstack.js"></script>
        <script type="text/javascript" src="../js/core/gridstack.controller.js"></script>
        <script type="text/javascript" src="../js/core/gridstack.directive.js"></script>
        <script type="text/javascript" src="../js/core/gridstackitem.directive.js"></script>

        <!-- Javascript -->
        
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript" src="../js/services/widgetfactoryService.js"></script>
        <script type="text/javascript" src="../js/services/apiService.js"></script>
        <script type="text/javascript" src="../js/services/thumbnailService.js"></script>
        <script type="text/javascript" src="../js/services/contentFrameService.js"></script>
        <script type="text/javascript" src="../js/mainController.js"></script>

        <style type="text/css">
            .grid1 {
                background: #c6ecf1;
            }
            .grid-stack-item-content {
                color: #2c3e50;
                text-align: center;
                background-color: #732145;
            }
            .pagecontent{
                background-color: #FFFFFF;
                height:100%;
            }
            .icons{
                width: 30px;
                height: 30px;
                margin: 0 2px 0 2px;
            }
        </style>
        
    </head>
    <body ng-app="webviewer" ng-controller="mainController">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="../res/img/AngularJS_GRID.png" width="300" height="30" class="d-inline-block align-top" alt="AngularJS|Grid">
        </nav>
        <!-- Menubar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <img src="../res/img/SVG/add.svg" ng-click="addWidget('content')" class="icons" title="Add Frame"/>
                    </li>
                     <li class="nav-item">
                        <img src="../res/img/SVG/32-office-icons_26.svg" ng-click="addWidget('thumbnail')" class="icons" title="Show thumbnails"/>
                    </li>
                    <li class="nav-item">
                        <img src="../res/img/SVG/32-office-icons_7.svg" ng-click="addWidget('notes')" class="icons" title="Add Notes"/>
                    </li>
                     <li class="nav-item">
                        <img src="../res/img/SVG/32-office-icons_1.svg" ng-click="addWidget('Help')" class="icons" title="Help"/>
                    </li>                    
                </ul>
            </div>
        </nav>
        <!-- Menubar end-->
        <!--Content frame-->
        <!--Thumbnail panel-->
        <div class="container-fluid px-0" id="contentFrame">
           <div class='row'>
               <div class="col-md-12">
                   <div gridstack class="grid-stack grid1" options="options" on-change="onChange(event,items)" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">
                       <div gridstack-item ng-repeat="w in widgets" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y" gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="1" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">
                           <div class="grid-stack-item-content" id="grid_stack_content">
                               <img src="../res/img/SVG/32-office-icons_3.svg" ng-click="removeWidget(w)" class="icons" title="Remove widget"/>
                               <!-- <img src="../res/img/SVG/32-office-icons_21.svg" ng-click="getPage()" class="icons" title="View Document"/> -->
                               <!-- <img src="../res/img/SVG/32-office-icons_22.svg" ng-click="removePage()" class="icons" title="Next Document"/> -->
                               <!--a class="btn btn-primary" ng-click="removePage()" href="#">new page</a-->
                               <!-- <div class="pagecontent"> -->
                                   <!-- <img ng-src="{{pageContent}}" alt="page content"> -->
                               <!-- </div> -->
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
        <!--Thumbnail panel end-->
        <!--content frame end-->
    </body>
</html>
