<!DOCTYPE doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="../css/gridstack.css">
        <link rel="stylesheet" type="text/css" href="../css/gridstack-extra.css">

    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <!--script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script-->
        <script type="text/javascript" src="../js/common/jquery.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        
        <script type="text/javascript" src="../js/common/angular.min.js"></script>
        <script type="text/javascript" src="../js/common/jquery-ui.js"></script>
        <script type="text/javascript" src="../js/common/lodash.min.js"></script>
        <!--script type="text/javascript" src="C:\Users\hshashak\Desktop\Smart_UI\js\common\angular.min.js"></script-->
        <script type="text/javascript" src="../js/common/gridstack.js"></script>
        <script type="text/javascript" src="../js/core/gridstack.controller.js"></script>
        <script type="text/javascript" src="../js/core/gridstack.directive.js"></script>
        <script type="text/javascript" src="../js/core/gridstackitem.directive.js"></script>

        <!-- Javascript -->
        
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript" src="../js/thumbnailService.js"></script>
        <script type="text/javascript" src="../js/mainController.js"></script>

        <style type="text/css">
            .grid1 {
                background: #c6ecf1;
            }
            .grid-stack-item-content {
                color: #2c3e50;
                text-align: center;
                background-color: #732145;
            }
        </style>
        
    </head>
    <body ng-app="webviewer" ng-controller="mainController">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="C:\Users\hshashak\Desktop\16.2.8_latest\16_2_8_workspace\latest_16_2_8\WebContent\UI\component\banner\resource\image\webviewerIcon.png" width="300" height="30" class="d-inline-block align-top" alt="opentext | ImagingWebViewer">
        </nav>
        <!-- Menubar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                            File
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item" href="#" ng-click="addWidget()" role="button">
                                Add Element
                            </a>
                            <a class="dropdown-item" href="#" ng-click="moveWidget()" role="button">
                                Remove Element
                            </a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item" href="#">
                                Something else here
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                            Edit
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item" href="#">
                                Action
                            </a>
                            <a class="dropdown-item" href="#">
                                Another action
                            </a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item" href="#">
                                Something else here
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                            View
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item" href="#">
                                Action
                            </a>
                            <a class="dropdown-item" href="#">
                                Another action
                            </a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item" href="#">
                                Something else here
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                            Help
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item" href="#">
                                Action
                            </a>
                            <a class="dropdown-item" href="#">
                                Another action
                            </a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item" href="#">
                                Something else here
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Menubar end-->
        <!--Content frame-->
        <!--Thumbnail panel-->
        <div class="container-fluid px-0" id="contentFrame">
           <div class='row'>
               <div class="col-md-12">
                   <div gridstack class="grid-stack grid1" options="options" on-change="onChange(event,items)" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">
                       <div gridstack-item ng-repeat="w in widgets" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y" gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="1" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">
                           <div class="grid-stack-item-content">
                               <a class="btn btn-primary" ng-click="removeWidget(w)" href="#">remove</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
        <!--Thumbnail panel end-->
        <!--content frame end-->
    </body>
</html>
